{% extends 'base.html' %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Data Science/Machine Learning/ Artificial Intelligence Blog</h1>
      <p class="lead text-muted"><b>I'm not taking any of their data and I'm not doing anything with 
	their data. It is just for the "Education Purpose"</b></p>
	<center>All credits go to those websites which i scraped</center>
     
    </div>
  </section>

  <div class="alert alert-danger" role="alert">
 <center>
 	<p><h3><b>Disclaimer!!</b></h3></p>
</center>
	<center>
		<h5>I'm not taking any of their data and I'm not doing anything with 
	their data. It is just for the "Education Purpose"</h5>
	<center>All credits go to those websites</center>
	</center>
</div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <center>
        	<h3>Problem that I'm getting</h3>
        </center>
        <p>To stay updated in "Machine Learning/Data Science/ Artificial Intelligence" I read 2 blogs every day. 
But finding a good article is really tough. for this, I've to go through many websites in order to get a good article.
As I know I'm really lazy. I don't want to go through every website one by one.
</p>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
       <center>
       	<h3>How did i slove it:</h3>
       </center>
        
        <p>So I've listed out all the blogs (Website) that I read the most, 
		and then I scrape them and made my own personal website. 
			In which I don't have to go through every website to read the blog.
		I can read them all on my website
</p>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <center>
      	<h3>The websites that I scraped are </h3>
      </center>
        
        <p>
        	<ul>
        		<li><a href="https://www.analyticsvidhya.com/" >Analytics Vidhya (https://www.analyticsvidhya.com/)</a></li>
        		<li><a href = "http://mygreatlearning.com/" >My Great Learning (http://mygreatlearning.com/)</a></li>
        		<li><a href = "https://www.aitrends.com/" >AI Trends (https://www.aitrends.com/)</a></li>
        		<li><a href = "https://www.kdnuggets.com/" >Kdnuggets (https://www.kdnuggets.com/)</a></li>
        	</ul>
        	<b>All credits go to those websites</b>
        </p>
       
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



{%  endblock %}
